@font-face {
    font-family: "PoppinsThin";
    src: url(./fonts/Poppins-ExtraLight.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "PoppinsBold";
    src: url(./fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

body {
    font-family: PoppinsThin;
}